body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(rgb(9,9,100),#080f28);
}

img {
    width: 50px;
    height: 50px;
    ;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 130px;
    margin-bottom: 40px;
}

a {
    margin: 45%;
    padding: 13px 22px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(3, 16, 154, 0.617);
}

p {
    padding: 40px;
    padding-top: 17px;
    padding-bottom: 340px;
    border-radius: 55px;
    width: 280px;
    height: 150px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 22px;
    background: rgb(1,13,148,0.377);
}

